includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - database/
        - routes/

    level: 8

    ignoreErrors:
        - '#PHPDoc tag @var#'

    excludePaths:
        - bootstrap/cache/*
        - storage/*
        - vendor/*
